@charset "UTF-8";

@media screen and (min-width: 768px) and (min-height: 600px) and (max-width: 992px) {
    section#login {
        width: 600px;
        height: 285px;
    }

    section#login > div#imagem {
        float: left;
        width: 60%;
        height: 100%;
        background-image: url("../imagens/imagem-600.jpg");
    }

    section#login > div#formulário {
        float: right;
        width: 40%;
    }
}

@media screen and (min-width: 992px) {
    section#login {
        width: 800px;
        height: 325px;
    }

    section#login > div#imagem {
        float: right;
        width: 60%;
        height: 100%;
    }

    section#login > div#formulário {
        float: left;
        width: 40%;
    }

    div#formulário > h1 {
        font-size: 2em;
    }
    
    div#formulário > p {
        font-size: 1.2em;
    }
}