@charset "UTF-8";

:root {
    --cor001: #49a09d;
    --cor002: #5f2c82;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    background-image: linear-gradient(to bottom, var(--cor001), var(--cor002));
    background-attachment: fixed;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 300px;
    height: 470px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: url("../imagens/imagem-400.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
}

section#login > div#formulário {
    padding: 10px;
    display: block;
}

div#formulário > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulário > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: var(--cor002);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 10px 0px;
    border: 2px solid #5f2c82;
}

form label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    height: 100%;
    padding: 5px;
}

div.campo > input {
    background-color: #93e2e0;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: none;
    padding: 4px;
    border-radius: 5px;
    transform: translate(2px, -14px);
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: -10px;
}

form > input[type=submit]:hover {
    background-color: #2f6866;
    cursor: pointer;
}

form > a.botão {
    display: block;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    margin-top: 10px;
}

form > a.botão:hover {
    text-decoration: underline;
}